@media #{$desktop} {
    .component-3 {
        @include flex-column;
        align-items: center;
        padding-top: 112px;

        h3 {
            font-size: 31px;
            margin-bottom: 15px;
        }

        .speaker-icon {
            margin-bottom: 96px;
        }

        .mobile-txt,
        .tablet-txt,
        .divider-line,
        h4 {
            display: none;
        }

        .desktop-txt {
            @include flex-row;
            margin-left: -7px;

            .image {
                width: 510px;
                height: 414px;
                background-image: url(../../../assets/component-3/computer-img.png);
                margin-right: 92px;
            }

            .info {
                width: 630px;
                margin-right: -64px;


                h3 {
                    letter-spacing: -0.6px;
                    margin-bottom: 24px;
                }

                >p {
                    font-size: 14px;
                    line-height: 27px;
                    width: 572px;
                    margin-bottom: 44px;
                }

                .features-container {
                    @include flex-row;
                    flex-wrap: wrap;

                    .feature {
                        @include flex-row;
                        width: 275.5px;
                        margin-bottom: 49px;

                        &:first-child,
                        &:nth-child(3) {
                            margin-right: 30px;
                        }

                        img {
                            margin-right: 28px;
                        }

                        h6 {
                            font-size: 18px;
                            font-family: 'Raleway', sans-serif;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 15px;
                            margin-top: 2px;
                        }

                        p {
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:1300px) {
        .image {
            width: 357px !important;
            height: 289.8px !important;
            background-size: cover !important;
        }

        .info {
            margin: 0;
        }
    }

    @media (max-width:1058px) {
        .image {
            margin-right: 10px !important;
        }
    }
}