@media #{$mobile} {
    .component-2 {
        height: 212.5px;
        padding-top: 59px;

        .component-2-content {
            width: auto;
            height: auto;
            margin-top: -15px;
            margin-left: -2px;

            .header-light {
                font-size: 25px;
                line-height: 30px;
            }

            .header-bold {
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -0.8px;
            }

            .p-desktop-tablet {
                display: none;
            }

            p {
                font-size: 9px;
                line-height: 10.8px;
                margin-bottom: 16px;
            }

            div {
                width: 64px;
                height: 19px;
            }

            button {
                width: 60px;
                height: 15px;
                font-size: 7px;
            }
        }

        .arrow-left,
        .arrow-right {
            display: none;
        }
    }

}