@media #{$tablet} {
    .component-2 {
        height: 591px;
        padding-top: 157px;

        .component-2-content {
            width: auto;

            .header-light {
                font-size: 59px;
                margin-bottom: 7px;
            }

            .header-bold {
                font-size: 71.77px;
                letter-spacing: -2px;
                margin-left: -5px;
                margin-bottom: 12px;
            }

            .p-mobile {
                display: none;
            }

            p {
                font-size: 19px;
                letter-spacing: -0.16px;
                margin-bottom: 37px;
            }

            div {
                width: 144px;
                height: 44px;
            }

            button {
                width: 138px;
                height: 38px;
                font-size: 13px;
            }
        }

        .arrow-left,
        .arrow-right {
            display: none;
        }
    }
}