@media #{$mobile} {
    .component-6 {
        padding-top: 35px;

        h3 {
            font-size: 27px;
            margin-bottom: 15px;
        }

        .contact-icon {
            margin-bottom: 43px;
        }

        .contact-info {
            height: 366px;
            @include flex-column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            img {
                margin-bottom: 21px;
            }

            p {
                font-size: 15px;
                line-height: 24px;
                width: 229px;
            }
        }

        form {
            @include flex-column;
            width: 280px;

            .input-field input,
            .textarea textarea {
                width: 100%;
                margin-bottom: 10px;
            }

            .input-field {
                span {
                    font-size: 14px;
                    top: 15px;
                    left: 10px;
                }
            }

            .textarea {
                margin-bottom: -3px;
            }

            button {
                width: 160px;
                height: 42px;
                margin-bottom: 42px;
            }
        }
    }
}