$cyan: #3AB6B2;
$black: #000000;
$white: #FFFFFF;
$bg-grey: #292929;
$lines: #D3D3D3;
$devider-line: #E6E6E6;
$component-three-grey: #525252;
$component-six-grey: #606060;
$input-border: #D4D4D4;
$placeholder-color: #7C7C7C;