@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Raleway:wght@200;300;600&display=swap');

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




body {
    width: 100vw;
    height: 100vh;

    section,
    header,
    footer {
        width: 100%;
    }

    button {
        text-transform: uppercase;
        color: $white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        border: none;
    }
}