@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Raleway:ital,wght@0,200;0,300;0,500;0,600;0,700;1,600&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
body section,
body header,
body footer {
  width: 100%;
}
body button {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border: none;
}

header {
  width: 100%;
  height: 109px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
header .logo {
  margin-top: -5px;
  min-width: 127px;
}
header img {
  height: 41px;
}
header span {
  font-size: 36px;
  line-height: 21.4px;
  margin-left: -5px;
  letter-spacing: 0.5px;
}
header .burger-menu {
  background-color: #3AB6B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .burger-menu .burger-border {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .burger-menu .burger-border div {
  width: 50%;
  height: 2px;
  background-color: #FFFFFF;
  margin-bottom: 3px;
}

@media (min-width: 1024px) {
  header {
    padding-left: 19.55%;
    padding-right: 19.7%;
    height: 105px;
  }
  header .burger-menu {
    display: none;
  }
  header nav {
    width: 735px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 21.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
  }
  header nav a {
    color: #FFFFFF;
  }
}
@media (max-width: 767px) {
  header {
    height: 67px;
    padding: 15px 21px 19px 20px;
  }
  header nav {
    display: none;
  }
  header .logo {
    margin-top: 2px;
  }
  header img {
    height: 29px;
  }
  header span {
    font-size: 27.22px;
    line-height: 16.5px;
    margin-left: -2px;
  }
  header .burger-menu {
    width: 48px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .burger-menu .burger-border {
    width: 44.44px;
    height: 27.44px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 29px 26px 34px 25px;
  }
  header nav {
    display: none;
  }
  header .burger-menu {
    width: 56px;
    height: 39px;
  }
  header .burger-menu .burger-border {
    width: 52.5px;
    height: 35.5px;
  }
  header .burger-menu .burger-border div {
    width: 58%;
  }
}
.component-2 {
  width: 100%;
  background-color: #292929;
  color: #FFFFFF;
  text-align: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-2 .component-2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.component-2 .component-2-content .header-light {
  font-weight: 200;
}
.component-2 .component-2-content .header-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.component-2 .component-2-content p {
  font-weight: 300;
}
.component-2 .component-2-content div {
  background-color: #3AB6B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.component-2 .component-2-content button {
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
}

@media (min-width: 1024px) {
  .component-2 {
    height: 760px;
    padding-top: 240px;
    position: relative;
  }
  .component-2 .component-2-content {
    width: auto;
    margin-left: 17px;
  }
  .component-2 .component-2-content .header-light {
    font-size: 62px;
    margin-bottom: 7px;
  }
  .component-2 .component-2-content .header-bold {
    font-size: 74px;
    letter-spacing: -2px;
    margin-left: -5px;
    margin-bottom: 12px;
  }
  .component-2 .component-2-content .p-mobile {
    display: none;
  }
  .component-2 .component-2-content p {
    font-size: 20px;
    letter-spacing: -0.16px;
    margin-bottom: 37px;
  }
  .component-2 .component-2-content div {
    width: 144px;
    height: 44px;
  }
  .component-2 .component-2-content button {
    width: 138px;
    height: 38px;
    font-size: 13px;
  }
  .component-2 .arrow-left,
  .component-2 .arrow-right {
    position: absolute;
    top: 300px;
  }
  .component-2 .arrow-right {
    right: 37px;
  }
  .component-2 .arrow-left {
    left: 37px;
  }
}
@media (max-width: 767px) {
  .component-2 {
    height: 212.5px;
    padding-top: 59px;
  }
  .component-2 .component-2-content {
    width: auto;
    height: auto;
    margin-top: -15px;
    margin-left: -2px;
  }
  .component-2 .component-2-content .header-light {
    font-size: 25px;
    line-height: 30px;
  }
  .component-2 .component-2-content .header-bold {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.8px;
  }
  .component-2 .component-2-content .p-desktop-tablet {
    display: none;
  }
  .component-2 .component-2-content p {
    font-size: 9px;
    line-height: 10.8px;
    margin-bottom: 16px;
  }
  .component-2 .component-2-content div {
    width: 64px;
    height: 19px;
  }
  .component-2 .component-2-content button {
    width: 60px;
    height: 15px;
    font-size: 7px;
  }
  .component-2 .arrow-left,
  .component-2 .arrow-right {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .component-2 {
    height: 591px;
    padding-top: 157px;
  }
  .component-2 .component-2-content {
    width: auto;
  }
  .component-2 .component-2-content .header-light {
    font-size: 59px;
    margin-bottom: 7px;
  }
  .component-2 .component-2-content .header-bold {
    font-size: 71.77px;
    letter-spacing: -2px;
    margin-left: -5px;
    margin-bottom: 12px;
  }
  .component-2 .component-2-content .p-mobile {
    display: none;
  }
  .component-2 .component-2-content p {
    font-size: 19px;
    letter-spacing: -0.16px;
    margin-bottom: 37px;
  }
  .component-2 .component-2-content div {
    width: 144px;
    height: 44px;
  }
  .component-2 .component-2-content button {
    width: 138px;
    height: 38px;
    font-size: 13px;
  }
  .component-2 .arrow-left,
  .component-2 .arrow-right {
    display: none;
  }
}
.component-3 h3,
.component-3 h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.component-3 h3 span,
.component-3 h4 span {
  color: #3AB6B2;
}
.component-3 .speaker-icon::before,
.component-3 .speaker-icon::after {
  content: "";
  background-color: #D3D3D3;
  width: 33px;
  height: 1px;
  display: inline-block;
}
.component-3 .speaker-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 33px;
}
.component-3 .speaker-icon img {
  margin: 0 7px;
}
.component-3 .img-placeholder {
  background-color: #000000;
}
.component-3 .divider-line {
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
}
.component-3 p {
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  line-height: 23px;
  font-size: 13px;
  color: #525252;
}
.component-3 .txt-shared ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.component-3 .txt-shared ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.component-3 .txt-shared button {
  background-color: #3AB6B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 42px;
}

@media (min-width: 1024px) {
  .component-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;
    margin-bottom: 106px;
  }
  .component-3 h3 {
    font-size: 31px;
    margin-bottom: 15px;
  }
  .component-3 .speaker-icon {
    margin-bottom: 96px;
  }
  .component-3 .mobile-txt,
  .component-3 .tablet-txt,
  .component-3 .divider-line,
  .component-3 h4 {
    display: none;
  }
  .component-3 .desktop-txt {
    display: flex;
    flex-direction: row;
    margin-left: -7px;
  }
  .component-3 .desktop-txt img {
    margin-right: 92px;
  }
  .component-3 .desktop-txt .info {
    width: 630px;
    margin-right: -64px;
  }
  .component-3 .desktop-txt .info h3 {
    letter-spacing: -0.6px;
    margin-bottom: 24px;
  }
  .component-3 .desktop-txt .info > p {
    font-size: 14px;
    line-height: 27px;
    width: 572px;
    margin-bottom: 44px;
  }
  .component-3 .desktop-txt .info .features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .component-3 .desktop-txt .info .features-container .feature {
    display: flex;
    flex-direction: row;
    width: 275.5px;
    margin-bottom: 49px;
  }
  .component-3 .desktop-txt .info .features-container .feature:first-child, .component-3 .desktop-txt .info .features-container .feature:nth-child(3) {
    margin-right: 30px;
  }
  .component-3 .desktop-txt .info .features-container .feature img {
    margin-right: 28px;
  }
  .component-3 .desktop-txt .info .features-container .feature h6 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 2px;
  }
  .component-3 .desktop-txt .info .features-container .feature p {
    line-height: 22px;
  }
}
@media (min-width: 1024px) and (max-width: 1300px) {
  .desktop-txt {
    margin: 0;
  }
  .image {
    width: 357px !important;
    height: 289.8px !important;
    background-size: cover !important;
  }
  .info {
    margin: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1150px) {
  .image {
    width: 250px !important;
    height: 202px !important;
  }
}
@media (max-width: 767px) {
  .component-3 {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin-left: calc(50% - 140px);
    margin-bottom: 42px;
  }
  .component-3 h3 {
    font-size: 27px;
    margin-bottom: 15px;
  }
  .component-3 .img-placeholder {
    width: 100%;
    height: 207px;
    margin-bottom: 18px;
  }
  .component-3 h4 {
    font-size: 16px;
    align-self: flex-start;
    letter-spacing: -0.4px;
    margin-bottom: 13px;
  }
  .component-3 .divider-line {
    margin-bottom: 10px;
  }
  .component-3 .tablet-txt,
  .component-3 .desktop-txt {
    display: none;
  }
  .component-3 .mobile-txt ul {
    height: 179px;
    margin-top: 28px;
    margin-bottom: 45px;
  }
  .component-3 .mobile-txt ul li {
    height: 59px;
    margin-bottom: -9px;
  }
  .component-3 .mobile-txt ul li p {
    margin-left: 15px;
  }
  .component-3 .mobile-txt ul li img {
    align-self: flex-start;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .component-3 {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 718px;
    margin-left: calc(50% - 359px);
  }
  .component-3 h3 {
    font-size: 28.9px;
    margin-bottom: 14px;
  }
  .component-3 .speaker-icon {
    margin-bottom: 57px;
  }
  .component-3 .img-placeholder {
    width: 100%;
    height: 421px;
    margin-bottom: 31px;
  }
  .component-3 h4 {
    font-size: 25px;
    align-self: flex-start;
    letter-spacing: -0.4px;
    margin-bottom: 19px;
  }
  .component-3 .divider-line {
    margin-bottom: 18px;
  }
  .component-3 .mobile-txt,
  .component-3 .desktop-txt {
    display: none;
  }
  .component-3 .tablet-txt ul {
    margin-top: 36px;
    margin-bottom: 49px;
    height: 169px;
  }
  .component-3 .tablet-txt ul li {
    margin-bottom: -9px;
  }
  .component-3 .tablet-txt ul li p {
    margin-left: 15px;
  }
  .component-3 .tablet-txt ul li img {
    align-self: flex-start;
    margin-top: 2px;
  }
  .component-3 button {
    margin-bottom: 75px;
  }
}
.component-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
}
.component-4 .services-icon::before,
.component-4 .services-icon::after {
  content: "";
  background-color: #FFFFFF;
  width: 37px;
  height: 1px;
  display: inline-block;
}
.component-4 .services-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component-4 .services-icon img {
  margin: 0 7px;
}
.component-4 .services-container,
.component-4 .service {
  width: auto;
  height: auto;
}
.component-4 .hexagon {
  width: 118px;
  height: 68px;
  position: relative;
  background-color: #3AB6B2;
  visibility: hidden;
}
.component-4 .hexagon .hexagon-hover {
  position: absolute;
  top: -35px;
  z-index: 10;
  visibility: visible;
}
.component-4 .hexagon .hexagon-icon {
  position: absolute;
  top: 21px;
  left: 49px;
  z-index: 10;
  visibility: visible;
}
.component-4 .hexagon-container:hover .hexagon {
  visibility: visible;
}
.component-4 .hexagon:before {
  content: "";
  position: absolute;
  top: -33.01px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 59px solid transparent;
  border-right: 59px solid transparent;
  border-bottom: 34.5px solid #3AB6B2;
}
.component-4 .hexagon:after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 59px solid transparent;
  border-right: 59px solid transparent;
  border-top: 34.5px solid #3AB6B2;
}
.component-4 h4 {
  color: #3AB6B2;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.component-4 p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: center;
  width: 280px;
  line-height: 23px;
  letter-spacing: 0.45px;
}

@media (min-width: 1024px) {
  .component-4 {
    padding-top: 143px;
  }
  .component-4 h3 {
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 7px;
  }
  .component-4 .services-icon {
    margin-bottom: 174px;
  }
  .component-4 .services-container {
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 45px;
  }
  .component-4 .hexagon-container {
    margin-bottom: 76px;
    margin-left: 80px;
  }
  .component-4 .hexagon-container .hexagon {
    height: 80px;
  }
  .component-4 .hexagon-container .hexagon .hexagon-icon {
    top: 30px;
    left: 46px;
  }
  .component-4 .hexagon-hover {
    height: 150px;
  }
  .component-4 h4 {
    font-size: 20px;
    margin-bottom: 14px;
    margin-left: -4px;
  }
  .component-4 .service {
    margin-bottom: 107px;
  }
}
@media (min-width: 1024px) and (max-width: 1180px) {
  .component-4 .services-container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .component-4 {
    padding-top: 39px;
  }
  .component-4 h3 {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 11px;
  }
  .component-4 .services-icon {
    margin-bottom: 89px;
  }
  .component-4 .services-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .component-4 .hexagon-container {
    margin-bottom: 78px;
    margin-left: 80px;
  }
  .component-4 h4 {
    font-size: 19px;
    margin-bottom: 11px;
    margin-left: -4px;
  }
  .component-4 .service {
    margin-bottom: 71px;
  }
  .component-4 .service:last-of-type {
    margin-top: 10px;
    margin-bottom: 36px;
  }
  .component-4 .service:nth-of-type(2) .hexagon-icon {
    top: 25px;
    left: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .component-4 {
    padding-top: 75px;
  }
  .component-4 h3 {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 14px;
  }
  .component-4 .services-icon {
    margin-bottom: 96px;
  }
  .component-4 .services-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .component-4 .hexagon-container {
    margin-bottom: 84px;
    margin-left: 80px;
  }
  .component-4 h4 {
    font-size: 20px;
    margin-bottom: 14px;
    margin-left: -4px;
  }
  .component-4 .service {
    margin-bottom: 107px;
  }
  .component-4 .service:last-of-type {
    margin-top: 5px;
    margin-bottom: 70px;
  }
  .component-4 .service:nth-of-type(2) .hexagon-icon {
    top: 25px;
    left: 45px;
  }
}
.component-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-5 h3 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.component-5 .portfolio-icon::before,
.component-5 .portfolio-icon::after {
  content: "";
  background-color: #D3D3D3;
  width: 37px;
  height: 1px;
  display: inline-block;
}
.component-5 .portfolio-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component-5 .portfolio-icon img {
  margin: 0 7px;
}
.component-5 .cards-container .card {
  background-color: #000000;
}
.component-5 .cards-container .card .hover {
  width: 100%;
  height: 100%;
}
.component-5 .cards-container .card .hover .socials {
  width: 100%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.component-5 .cards-container .card .hover .socials .icons-container,
.component-5 .cards-container .card .hover .socials .icons-tablet-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.component-5 .cards-container .card .hover .category {
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
}
.component-5 .cards-container .card .hover .category h6 {
  color: #FFFFFF;
  text-transform: uppercase;
}
.component-5 .cards-container .card .hover .category p {
  font-style: italic;
  color: #3AB6B2;
}

@media (min-width: 1024px) {
  .component-5 {
    padding-top: 107px;
  }
  .component-5 h3 {
    font-size: 31px;
    margin-bottom: 12px;
  }
  .component-5 .portfolio-icon {
    margin-bottom: 84px;
  }
  .component-5 .cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .component-5 .cards-container .card {
    height: 379px;
    margin-bottom: 8px;
  }
  .component-5 .cards-container .card:nth-of-type(1), .component-5 .cards-container .card:nth-of-type(3), .component-5 .cards-container .card:nth-of-type(5) {
    width: 39.8%;
  }
  .component-5 .cards-container .card:nth-of-type(2), .component-5 .cards-container .card:nth-of-type(4), .component-5 .cards-container .card:nth-of-type(6), .component-5 .cards-container .card:nth-of-type(7) {
    width: 19.65%;
  }
  .component-5 .cards-container .card .hover {
    display: none;
  }
  .component-5 .cards-container .card .hover .socials {
    height: 80%;
  }
  .component-5 .cards-container .card .hover .socials .icons-container {
    display: none;
  }
  .component-5 .cards-container .card .hover .socials .icons-tablet-desktop {
    width: 103px;
    height: 46px;
    margin-left: -19px;
    margin-top: 63px;
  }
  .component-5 .cards-container .card .hover .socials .icons-tablet-desktop img {
    width: 46px;
    height: 46px;
  }
  .component-5 .cards-container .card .hover .category {
    height: 20%;
  }
  .component-5 .cards-container .card .hover .category h6 {
    font-size: 17px;
    line-height: 29px;
    margin-left: -8px;
    margin-top: -5px;
  }
  .component-5 .cards-container .card .hover .category h6::before {
    content: "A ";
  }
  .component-5 .cards-container .card .hover .category p {
    font-size: 13px;
  }
  .component-5 .cards-container .card:hover .hover {
    display: block;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .component-5 .category h6 {
    font-size: 12px !important;
  }
  .component-5 .category p {
    font-size: 10px !important;
  }
}
@media (max-width: 767px) {
  .component-5 {
    padding-top: 39px;
  }
  .component-5 h3 {
    font-size: 27px;
    margin-bottom: 12px;
  }
  .component-5 .portfolio-icon {
    margin-bottom: 35px;
  }
  .component-5 .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .component-5 .cards-container .card:last-of-type,
  .component-5 .cards-container .card:nth-last-child(2),
  .component-5 .cards-container .card:nth-last-child(3) {
    display: none;
  }
  .component-5 .cards-container .card {
    width: 280px;
    height: 163px;
    margin-bottom: 8px;
  }
  .component-5 .cards-container .card .hover {
    display: none;
  }
  .component-5 .cards-container .card .hover .socials {
    height: 68%;
  }
  .component-5 .cards-container .card .hover .socials .icons-container {
    width: 91px;
    height: 30px;
  }
  .component-5 .cards-container .card .hover .socials .icons-tablet-desktop {
    display: none;
  }
  .component-5 .cards-container .card .hover .category {
    height: 32%;
  }
  .component-5 .cards-container .card .hover .category h6 {
    font-size: 14px;
    line-height: 26.5px;
  }
  .component-5 .cards-container .card .hover .category p {
    font-size: 11px;
  }
  .component-5 .cards-container .card:hover .hover {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .component-5 {
    padding-top: 76px;
  }
  .component-5 h3 {
    font-size: 29px;
    margin-bottom: 12px;
  }
  .component-5 .portfolio-icon {
    margin-bottom: 58px;
  }
  .component-5 .cards-container {
    width: 718px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .component-5 .cards-container .card:last-of-type {
    display: none;
  }
  .component-5 .cards-container .card {
    width: 225px;
    height: 229px;
    margin-bottom: 19px;
  }
  .component-5 .cards-container .card .hover {
    display: none;
  }
  .component-5 .cards-container .card .hover .socials {
    height: 75%;
  }
  .component-5 .cards-container .card .hover .socials .icons-container {
    display: none;
  }
  .component-5 .cards-container .card .hover .socials .icons-tablet-desktop {
    width: 82px;
    height: 37px;
    margin-left: -7px;
    margin-top: 24px;
  }
  .component-5 .cards-container .card .hover .category {
    height: 25%;
  }
  .component-5 .cards-container .card .hover .category h6 {
    font-size: 12px;
    line-height: 21.6px;
  }
  .component-5 .cards-container .card .hover .category h6::before {
    content: "A ";
  }
  .component-5 .cards-container .card .hover .category p {
    font-size: 10px;
    line-height: 21.6px;
  }
  .component-5 .cards-container .card:hover .hover {
    display: block;
  }
}
.component-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-6 h3 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.component-6 .contact-icon::before,
.component-6 .contact-icon::after {
  content: "";
  background-color: #D3D3D3;
  width: 37px;
  height: 1px;
  display: inline-block;
}
.component-6 .contact-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component-6 .contact-icon img {
  margin: 0 7px;
}
.component-6 .contact-info .info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-6 .contact-info .info-card p {
  text-align: center;
  color: #606060;
  font-family: "Raleway";
  font-weight: 500;
  letter-spacing: 0.5px;
}
.component-6 form .input-field input {
  height: 46px;
  border: 1px solid #D4D4D4;
}
.component-6 form .textarea textarea {
  height: 141px;
  border: 1px solid #D4D4D4;
}
.component-6 form .input-field,
.component-6 form .textarea {
  position: relative;
  width: 100%;
}
.component-6 form .input-field span,
.component-6 form .textarea span {
  position: absolute;
  color: #7C7C7C;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 0.6;
}
.component-6 form button {
  background-color: #3AB6B2;
}

@media (min-width: 1024px) {
  .component-6 {
    padding-top: 87px;
  }
  .component-6 h3 {
    font-size: 31px;
    margin-bottom: 14px;
  }
  .component-6 .contact-icon {
    margin-bottom: 89px;
  }
  .component-6 .contact-info {
    width: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 79px;
    margin-left: -5px;
  }
  .component-6 .contact-info img {
    margin-bottom: 21px;
  }
  .component-6 .contact-info p {
    font-size: 15px;
    line-height: 24px;
  }
  .component-6 form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 945px;
  }
  .component-6 form .input-field input,
  .component-6 form .textarea textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  .component-6 form .input-field {
    margin-bottom: 5px;
  }
  .component-6 form .input-field:first-of-type {
    margin-right: 2%;
  }
  .component-6 form .input-field:nth-of-type(2), .component-6 form .input-field:nth-of-type(1) {
    display: inline-block;
    width: 49%;
  }
  .component-6 form .input-field span {
    font-size: 14px;
    top: 15px;
    left: 10px;
  }
  .component-6 form textarea {
    height: 171px !important;
  }
  .component-6 form .textarea {
    margin-bottom: 2px;
  }
  .component-6 form button {
    width: 160px;
    height: 42px;
    margin-bottom: 121px;
  }
}
@media (max-width: 767px) {
  .component-6 {
    padding-top: 35px;
  }
  .component-6 h3 {
    font-size: 27px;
    margin-bottom: 15px;
  }
  .component-6 .contact-icon {
    margin-bottom: 43px;
  }
  .component-6 .contact-info {
    height: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .component-6 .contact-info img {
    margin-bottom: 21px;
  }
  .component-6 .contact-info p {
    font-size: 15px;
    line-height: 24px;
    width: 229px;
  }
  .component-6 form {
    display: flex;
    flex-direction: column;
    width: 280px;
  }
  .component-6 form .input-field input,
  .component-6 form .textarea textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  .component-6 form .input-field span {
    font-size: 14px;
    top: 15px;
    left: 10px;
  }
  .component-6 form .textarea {
    margin-bottom: -3px;
  }
  .component-6 form button {
    width: 160px;
    height: 42px;
    margin-bottom: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .component-6 {
    padding-top: 62px;
  }
  .component-6 h3 {
    font-size: 29px;
    margin-bottom: 15px;
  }
  .component-6 .contact-icon {
    margin-bottom: 54px;
  }
  .component-6 .contact-info {
    width: 719px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: first baseline;
    margin-bottom: 47px;
    margin-left: -5px;
  }
  .component-6 .contact-info img {
    margin-bottom: 21px;
  }
  .component-6 .contact-info p {
    font-size: 15px;
    line-height: 24px;
  }
  .component-6 form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 719px;
  }
  .component-6 form .input-field input,
  .component-6 form .textarea textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  .component-6 form .input-field {
    margin-bottom: 5px;
  }
  .component-6 form .input-field:first-of-type {
    margin-right: 2%;
  }
  .component-6 form .input-field:nth-of-type(2), .component-6 form .input-field:nth-of-type(1) {
    display: inline-block;
    width: 49%;
  }
  .component-6 form .input-field span {
    font-size: 14px;
    top: 15px;
    left: 10px;
  }
  .component-6 form textarea {
    height: 171px !important;
  }
  .component-6 form .textarea {
    margin-bottom: 2px;
  }
  .component-6 form button {
    width: 160px;
    height: 42px;
    margin-bottom: 83px;
  }
}
.component-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111111;
  width: 100%;
  padding-top: 42px;
}
.component-7 .logo {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 32.5px;
  letter-spacing: 0.1px;
  font-weight: 300;
}
.component-7 .logo span {
  margin-left: -11px;
}
.component-7 .icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.component-7 .icons-container .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #252525;
  margin-right: 9px;
  margin-bottom: 9px;
  border-radius: 5%;
}
.component-7 p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.1px;
}

@media (min-width: 1024px) {
  .component-7 {
    height: 298px;
    padding-top: 48px;
  }
  .component-7 .logo {
    font-size: 36px;
    margin-bottom: 46px;
  }
  .component-7 .logo img {
    width: 25px;
    height: 38px;
  }
  .component-7 .icons-container {
    width: 500px;
    justify-content: center;
    margin-bottom: 42px;
    margin-left: 5px;
  }
  .component-7 p {
    font-size: 11px;
    margin-left: -9px;
  }
}
@media (max-width: 767px) {
  .component-7 {
    height: 312px;
  }
  .component-7 .logo {
    margin-bottom: 44px;
  }
  .component-7 .logo img {
    width: 25px;
    height: 38px;
  }
  .component-7 .icons-container {
    width: 193px;
    justify-content: center;
    margin-bottom: 32px;
  }
  .component-7 .icons-container .icon-container:nth-of-type(4) {
    margin-right: 0;
  }
  .component-7 p {
    font-size: 11px;
    margin-left: -9px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .component-7 {
    height: 298px;
    padding-top: 48px;
  }
  .component-7 .logo {
    font-size: 36px;
    margin-bottom: 46px;
  }
  .component-7 .logo img {
    width: 25px;
    height: 38px;
  }
  .component-7 .icons-container {
    width: 500px;
    justify-content: center;
    margin-bottom: 42px;
  }
  .component-7 p {
    font-size: 11px;
    margin-left: -9px;
  }
}

/*# sourceMappingURL=index.css.map */
